/* ns__file unit: standard, comp: .eslintrc */
{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    /* ns__custom_start lintRules */
    "unicorn/no-abusive-eslint-disable": "off",
    "array-callback-return": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "max-params": "off",
    "no-warning-comments": "off",
    "no-await-in-loop": "off",
    "function-paren-newline": ["error", { "minItems": 3 }],
    /* ns__custom_end lintRules */
    "unicorn/filename-case": "off"
  }
}
